<!doctype html>
<html>
    <head>
        <script>
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{resume.basics.name}}</title>
        <style>
            {{{css}}}
        </style>
        <style>
            body {
                background: #EEEEEE;
                font-family: 'Source Sans Pro', sans-serif;
                line-height: 1.4;
                margin: 40px 0;
            }
            .container {
                margin: 0 auto;
                max-width: 8.5in;
                padding: 80px 100px;
                background: #fff;
                border: 1px solid #ccc;
                box-shadow: 2px 2px 4px #aaa;
                -webkit-box-shadow: 2px 2px 4px #aaa;
            }

            .page-header {
                padding-bottom: 10.5px;
                margin: 46px 0 23px;
                border-bottom: 1px solid #eeeeee;
            }

            .page-header h6 {
                margin: 0px;
                padding: 0px;
                line-height: .8;
                font-weight: bold;
            }

            .page-header {
                margin-top: 0px;
            }

            .no-margin-top {
                margin-top: 0px;
            }

            .no-margin {
                margin: 0;
            }
            .no-margin-bottom {
                margin-bottom: 0px;
            }

            .sm-margin-bottom {
                margin-bottom: 8px;
            }

            .sm-margin-top {
                margin: 10px 0px 0px 0px;
            }

            .lg-margin-top {
                margin-top: 15px;
            }

            .no-padding {
                padding: 0;
            }

            .no-padding-left {
                padding-left: 0px;
            }

            .no-padding-right {
                padding-right: 0px;
            }

            .sm-padding-left {
                padding-left: 8px;
            }

            .no-bullets {
                list-style: none;
            }

            .job-title {
                float: left;
                font-size: 15px;
                width: 100%;
            }

            .job-details {
                font-size: .7em;
                float: right;
                text-align: right;
                margin-bottom: 0;
            }

            .job-information {
                font-size: 10px;
                padding: 0 0 0 8px;
            }

            .education-details {
                font-style: italic;
                padding-left: 8px;
                font-size: 11px;
            }

            .print-together {
                page-break-inside: auto;
            }

            .no-page-break {
                page-break-inside: avoid;
                page-break-after: auto;
            }

            .newspaper {
                text-align: justify;
                text-justify: newspaper
            }

            @media print {
                @page {
                    size: letter portrait;
                    margin: 25mm 25mm 25mm 25mm;
                }
                .container {
                    max-width: 100%;
                    border: 0px;
                    background: #fff;
                    box-shadow: none;
                    -webkit-box-shadow: none;
                }
                body,
                html,
                .container {
                    margin: 0px;
                    padding: 0px;
                }
            }
        </style>
    </head>
    <body>
        <div class="container">

            <!-- Name, title -->
            {{#resume.basics}}
            <h3 class="sm-margin-bottom no-margin-top" style="line-height: .8;">
                {{name}}
                {{#if label}}<span style="font-weight: bold;">{{label}}</span>{{/if}}
            </h3>

            {{#if summary}}
            <p class="newspaper">{{summary}}</p>
            {{/if}}
            {{/resume.basics}}

            <!-- LEFT COLUMN -->
            <div class="col-xs-3 no-padding">
                <div class="page-header no-margin">
                    <h6>ABOUT</h6>
                </div>

                <!-- LEFT COLUMN: Address, contact information -->
                <small>
                    {{#resume.basics}}
                    <ul class="no-bullets no-padding-left no-margin-bottom">
                        <li>
                            {{#location}}
                            {{#if city}}{{city}}{{/if}}
                            {{#if region}}{{region}}{{/if}}
                            {{#if countryCode}}{{countryCode}}{{/if}}
                            {{/location}}
                        </li>
                        <li>
                            {{#if email}}<a href="mailto:{{email}}">{{email}}</a>{{/if}}
                        </li>
                        <Li>{{#if phone}}{{phone}}{{/if}}</Li>
                    </ul>
                    <!-- // LEFT COLUMN: Address, contact information -->


                    <!-- LEFT COLUMN: Social Networking -->
                    {{#if profiles.length}}
                    <ul class="no-bullets no-padding-left">
                        {{#each profiles}}
                        <li><a href="{{url}}">{{network}}</a></li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{/resume.basics}}
                    <!-- // LEFT COLUMN: Social Networking -->


                    <!-- LEFT COLUMN: Skills -->
                    {{#if resume.skills.length}}
                    <div class="page-header no-margin lg-margin-top">
                        <h6>SKILLS</h6>
                    </div>

                    <div class="print-together">
                        <div class="no-page-break">
                            {{#each resume.skills}}
                            <i class="text-uppercase">{{#if name}}{{name}}{{/if}}</i>
                            <br />

                            {{#if keywords.length}}
                            <ul class="no-bullets sm-padding-left">
                                {{#each keywords}}
                                <li>{{.}}</li>
                                {{/each}}
                            </ul>
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                    <!-- // LEFT COLUMN: Skills -->
                </small>
            </div>
            <!-- // LEFT COLUMN -->


            <!-- RIGHT COLUMN -->
            <div class="col-xs-9 no-padding-right">

                <!-- RIGHT COLUMN: Experience -->
                {{#if resume.work.length}}
                <div class="page-header no-margin-top sm-margin-bottom">
                    <h6>PROFESSIONAL EXPERIENCE</h6>
                </div>

                <div class="print-together">
                    {{#each resume.work}}
                    <div class="no-page-break">
                        <h6 class="job-title no-margin-top no-margin-bottom">
                            <span class="job-details">
                                {{#if hours}}{{hours}} HRS per week<br />{{/if}}
                                {{#if salary}}{{salary}}<br />{{/if}}
                                {{#if startDate}}
                                {{#if startDate}}{{startDate}}{{/if}} to {{#if endDate}}{{endDate}}{{else}}Present{{/if}}
                                {{/if}}
                            </span>

                            {{#if company}}{{company}}{{/if}}
                            {{#if position}}<br />{{position}}{{/if}}
                        </h6>

                        <div class="clearfix"></div>

                        <p class="job-information">
                            {{#if address}}{{address}}{{/if}}
                            {{#if supervisor}}- {{supervisor}}{{/if}}
                            {{#if contact_phone}}- {{contact_phone}}{{/if}}
                        </p>

                        {{#if summary}}
                        <p class="sm-margin-top newspaper">{{summary}}</p>
                        {{/if}}
                    </div>


                    {{#if highlights.length}}
                    <ul>
                        {{#each highlights}}
                        <li>{{.}}</li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{/each}}
                    {{/if}}
                </div>
                <!-- // RIGHT COLUMN: Experience -->



                <!-- RIGHT COLUMN: Education -->
                {{#if resume.education.length}}
                <div class="print-together">
                    <div class="no-page-break">
                        <div class="page-header no-margin-top sm-margin-bottom">
                            <h6>EDUCATION</h6>
                        </div>

                        {{#each resume.education}}
                        <h6 class="job-title {{#unless @first}}sm-margin-top{{/unless}} no-margin">
                            {{#if startDate}}
                            <span class="job-details">
                                {{#if startDate}}{{startDate}}{{/if}} to {{#if endDate}}{{endDate}}{{else}}Present{{/if}}
                            </span>
                            {{/if}}

                            {{#if institution}}{{institution}}{{/if}}
                        </h6>

                        <div class="clearfix"></div>

                        <p class="education-details no-margin-bottom">
                            {{#if studyType}}{{studyType}},{{/if}}
                            {{#if area}}{{area}}{{/if}}
                            {{#if gpa}}, GPA: {{gpa}}{{/if}}
                        </p>

                        <div class="clearfix"></div>

                        {{#if courses.length}}
                        <ul class="no-margin-bottom">
                            {{#each courses}}
                            <li>{{.}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}

                        {{/each}}
                    </div>
                </div>
                {{/if}}
                <!-- // RIGHT COLUMN: Education -->

            </div> <!-- // Right COLUMN -->
        </div> <!-- // Container -->
    </body>
</html>
